@use '../abstracts/variables' as *; 

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;0,600;1,400&family=Marck+Script&display=swap');

@font-face {
    font-family: 'Montserrat'; 
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype-variations'); 
    font-weight: 100 900; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900; 
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/Montserrat_Alternates/MontserratAlternates-Thin.ttf') format('truetype');
    font-weight: 100; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf') format('truetype');
    font-weight: 600; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
}

.text-content {
  
  // Любой стандартный H2 внутри статьи автоматически становится компактным баджем!
  h2 {
    display: inline-block;
    font-family: $font-accent, sans-serif;
    font-size: 1rem; // Компактные 18px по ТЗ
    font-weight: 400; // Regular
    color: $color-primary-alt; // Бирюзовый
    border: 1px solid rgba($color-primary-alt, 0.6); // Ваша контрастная рамка
    padding: 0.4rem 1.25rem;
    border-radius: 50px; // Скругленная пилюля
    margin-top: 0;
    margin-bottom: 1.5rem; // Отступ снизу до текста
    text-transform: none;
  }

  // Абзацы внутри текста
  p {
    font-family: $font-main, sans-serif;
    font-size: 1.125rem; // 18px
    line-height: 1.6;
    color: $color-text;
    margin-bottom: 1.5rem;

    // Стили лидирующего (первого) абзаца статьи
    &.lead-text {
      font-size: 1.25rem; // 20px
      color: $color-primary-alt; 
      font-weight: 500;
    }
  }

  strong {
    font-weight: 600;
  }
}