// Colors
$color-primary:        #ED8621;
$color-primary-hover:  #C76E12; // 10% темнее оранжевого (для ховеров)
$color-primary-alt:    #356169; // Наш бирюзовый
$color-primary-alt-hover: #26464B; // 10% темнее бирюзового (для ховеров)
$color-accent:         #ACCA51; // Зеленый
$color-accent-hover:   #92B33B; // 10% темнее зеленого
$color-accent-alt:     #FDCC39; // Желтый
$color-bg:             #F5F3F0;
$color-text:           #484848;
$color-text-muted:     #818181;
$color-white:          #FFFFFF;

// Layout
$radius-xxl:           50px;
$radius-xl:            32px;
$radius-md:            24px;
$radius-sm:            16px;
$radius-xs:            8px;
$transition:           all 0.3s ease;

// Typography
$font-main:           'Montserrat', sans-serif;
$font-accent:         'Montserrat Alternates', sans-serif;